In [106]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [107]:
df = pd.read_csv('housing.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [109]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [110]:
df = df.dropna()

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [112]:
df=df.join(pd.get_dummies(df.ocean_proximity))
df = df.replace({True: 1, False: 0})
X=df.drop(['median_house_value','ocean_proximity'], axis=1)
Y=df['median_house_value']

C:\Users\45rud\AppData\Local\Temp\ipykernel_364\1089321007.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({True: 1, False: 0})

In [113]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.25)

In [114]:
min_vals = x_train.min()
max_vals = x_train.max()

x_train = (x_train - min_vals) / (max_vals - min_vals)
x_test = (x_test - min_vals) / (max_vals - min_vals)

In [115]:
train_set= x_train.copy()
train_set['median_house_value']=y_train

test_set = x_test.copy()
test_set['median_house_value']=y_test

train_set

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value
15292,0.703187,0.058511,0.098039,0.154779,0.157821,0.057765,0.157211,0.323016,0.0,0.0,0.0,0.0,1.0,259800.0
20376,0.546813,0.171277,0.294118,0.038231,0.033364,0.016116,0.038481,0.673198,1.0,0.0,0.0,0.0,0.0,410800.0
2354,0.464143,0.451064,0.078431,0.066312,0.073712,0.041677,0.078934,0.248231,0.0,1.0,0.0,0.0,0.0,83000.0
1889,0.433267,0.678723,0.313725,0.203464,0.214308,0.027916,0.062819,0.239466,0.0,1.0,0.0,0.0,0.0,313400.0
14689,0.723108,0.025532,0.372549,0.055375,0.082713,0.027916,0.081401,0.162977,0.0,0.0,0.0,0.0,1.0,169700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3540,0.583665,0.181915,0.470588,0.213232,0.290348,0.125564,0.287124,0.210328,1.0,0.0,0.0,0.0,0.0,261300.0
1810,0.201195,0.571277,0.490196,0.098718,0.120732,0.070321,0.121526,0.119322,0.0,0.0,0.0,1.0,0.0,122400.0
2717,0.874502,0.026596,0.294118,0.033093,0.055556,0.026851,0.053610,0.047268,0.0,1.0,0.0,0.0,0.0,72600.0
9790,0.250000,0.393617,0.372549,0.024215,0.037865,0.016452,0.030916,0.145481,0.0,0.0,0.0,0.0,1.0,362500.0
783,0.223108,0.542553,0.333333,0.110113,0.125233,0.057120,0.120539,0.205942,0.0,0.0,0.0,1.0,0.0,331600.0

In [116]:
train_set.corr()['median_house_value']

longitude            -0.047027
latitude             -0.142607
housing_median_age    0.103940
total_rooms           0.129068
total_bedrooms        0.044272
population           -0.031175
households            0.059004
median_income         0.689243
<1H OCEAN             0.254654
INLAND               -0.483313
ISLAND                0.017012
NEAR BAY              0.161888
NEAR OCEAN            0.146080
median_house_value    1.000000
Name: median_house_value, dtype: float64

In [117]:
epsilon = 1e-5

train_set['total_bedrooms'] = train_set['total_bedrooms'].replace(0, epsilon).fillna(epsilon)
train_set['population'] = train_set['population'].replace(0, epsilon).fillna(epsilon)

train_set['rooms/bedrooms']=train_set['total_rooms']/train_set['total_bedrooms']
train_set['household/population']=train_set['households']/train_set['population']
train_set = train_set.drop(['population','households','total_bedrooms'], axis=1)

test_set['rooms/bedrooms']=test_set['total_rooms']/test_set['total_bedrooms']
test_set['household/population']=test_set['households']/test_set['population']
test_set = test_set.drop(['population','households','total_bedrooms'], axis=1)

train_set.corr()['median_house_value']

longitude              -0.047027
latitude               -0.142607
housing_median_age      0.103940
total_rooms             0.129068
median_income           0.689243
<1H OCEAN               0.254654
INLAND                 -0.483313
ISLAND                  0.017012
NEAR BAY                0.161888
NEAR OCEAN              0.146080
median_house_value      1.000000
rooms/bedrooms          0.378933
household/population    0.219806
Name: median_house_value, dtype: float64

In [118]:
train_set

,longitude,latitude,housing_median_age,total_rooms,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value,rooms/bedrooms,household/population
15292,0.703187,0.058511,0.098039,0.154779,0.323016,0.0,0.0,0.0,0.0,1.0,259800.0,0.980727,2.721558
20376,0.546813,0.171277,0.294118,0.038231,0.673198,1.0,0.0,0.0,0.0,0.0,410800.0,1.145853,2.387733
2354,0.464143,0.451064,0.078431,0.066312,0.248231,0.0,1.0,0.0,0.0,0.0,83000.0,0.899613,1.893948
1889,0.433267,0.678723,0.313725,0.203464,0.239466,0.0,1.0,0.0,0.0,0.0,313400.0,0.949402,2.250307
14689,0.723108,0.025532,0.372549,0.055375,0.162977,0.0,0.0,0.0,0.0,1.0,169700.0,0.669483,2.915973
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3540,0.583665,0.181915,0.470588,0.213232,0.210328,1.0,0.0,0.0,0.0,0.0,261300.0,0.734402,2.286672
1810,0.201195,0.571277,0.490196,0.098718,0.119322,0.0,0.0,0.0,1.0,0.0,122400.0,0.817659,1.728150
2717,0.874502,0.026596,0.294118,0.033093,0.047268,0.0,1.0,0.0,0.0,0.0,72600.0,0.595666,1.996594
9790,0.250000,0.393617,0.372549,0.024215,0.145481,0.0,0.0,0.0,0.0,1.0,362500.0,0.639522,1.879133
783,0.223108,0.542553,0.333333,0.110113,0.205942,0.0,0.0,0.0,1.0,0.0,331600.0,0.879270,2.110267

In [119]:
test_set

,longitude,latitude,housing_median_age,total_rooms,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value,rooms/bedrooms,household/population
15846,0.191235,0.553191,0.764706,0.123213,0.313927,0.0,0.0,0.0,1.0,0.0,356100.0,0.813509,3.064137
10118,0.640438,0.147872,0.509804,0.115989,0.350554,1.0,0.0,0.0,0.0,0.0,267700.0,1.207487,1.905002
14378,0.704183,0.019149,0.843137,0.049041,0.301272,0.0,0.0,0.0,0.0,1.0,358600.0,0.975372,2.369483
10234,0.641434,0.139362,0.490196,0.058249,0.136088,1.0,0.0,0.0,0.0,0.0,165800.0,0.659677,2.185691
10924,0.644422,0.125532,0.686275,0.062700,0.224142,1.0,0.0,0.0,0.0,0.0,170500.0,0.812959,1.073368
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12656,0.287849,0.634043,0.607843,0.061835,0.081385,0.0,1.0,0.0,0.0,0.0,84100.0,0.674226,2.047843
5937,0.642430,0.170213,0.392157,0.052144,0.199604,0.0,1.0,0.0,0.0,0.0,212800.0,0.730473,1.889542
4555,0.608566,0.160638,0.352941,0.072849,0.085488,1.0,0.0,0.0,0.0,0.0,162500.0,0.460237,1.725570
1338,0.247012,0.578723,0.274510,0.055883,0.308851,0.0,1.0,0.0,0.0,0.0,163900.0,1.157918,1.735554
905,0.235060,0.530851,0.333333,0.091011,0.237548,1.0,0.0,0.0,0.0,0.0,240100.0,0.821392,2.318810

In [120]:
train_set.to_csv('train.csv', index=False)
test_set.to_csv('test.csv', index=False)