In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('housing.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [4]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [5]:
df = df.dropna()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [7]:
df=df.join(pd.get_dummies(df.ocean_proximity))
df = df.replace({True: 1, False: 0})
X=df.drop(['median_house_value','ocean_proximity'], axis=1)
Y=df['median_house_value']

C:\Users\45rud\AppData\Local\Temp\ipykernel_7164\1089321007.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({True: 1, False: 0})

In [8]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.25)

In [9]:
min_vals = x_train.min()
max_vals = x_train.max()

x_train = (x_train - min_vals) / (max_vals - min_vals)
x_test = (x_test - min_vals) / (max_vals - min_vals)

In [10]:
train_set= x_train.copy()
train_set['median_house_value']=y_train

test_set = x_test.copy()
test_set['median_house_value']=y_test

train_set

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value
9361,0.181275,0.575532,0.686275,0.111476,0.096058,0.043331,0.102779,0.544379,0.0,0.0,0.0,1.0,0.0,470500.0
19592,0.346614,0.539362,0.568627,0.011521,0.010708,0.006082,0.011182,0.303161,0.0,1.0,0.0,0.0,0.0,142500.0
10145,0.642430,0.144681,0.627451,0.106287,0.124612,0.057345,0.136984,0.262783,1.0,0.0,0.0,0.0,0.0,201600.0
4023,0.580677,0.173404,0.882353,0.052902,0.067815,0.029261,0.064463,0.217480,1.0,0.0,0.0,0.0,0.0,216000.0
16824,0.185259,0.540426,0.588235,0.079022,0.096214,0.041173,0.101464,0.321037,0.0,0.0,0.0,0.0,1.0,263900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8876,0.583665,0.158511,0.960784,0.066000,0.052607,0.026935,0.055583,0.883002,1.0,0.0,0.0,0.0,0.0,500001.0
13304,0.669323,0.163830,0.352941,0.088713,0.126474,0.078898,0.112975,0.165363,0.0,1.0,0.0,0.0,0.0,126200.0
16859,0.192231,0.541489,0.784314,0.002442,0.002948,0.001822,0.002960,0.118971,0.0,0.0,0.0,0.0,1.0,212500.0
15090,0.740040,0.027660,0.313725,0.033318,0.060987,0.023347,0.055254,0.080599,1.0,0.0,0.0,0.0,0.0,112500.0
2762,0.831673,0.068085,0.294118,0.006180,0.008690,0.002186,0.005262,0.052689,0.0,1.0,0.0,0.0,0.0,51300.0

In [11]:
train_set.corr()['median_house_value']

longitude            -0.045035
latitude             -0.147694
housing_median_age    0.112346
total_rooms           0.128022
total_bedrooms        0.046970
population           -0.026959
households            0.063488
median_income         0.690042
<1H OCEAN             0.259761
INLAND               -0.489220
ISLAND                0.027064
NEAR BAY              0.160812
NEAR OCEAN            0.145699
median_house_value    1.000000
Name: median_house_value, dtype: float64

In [12]:
train_set['rooms/bedrooms']=train_set['total_rooms']/train_set['total_bedrooms']
train_set['household/population']=train_set['households']/train_set['population']
train_set = train_set.drop(['population','households','total_bedrooms'], axis=1)

test_set['rooms/bedrooms']=test_set['total_rooms']/test_set['total_bedrooms']
test_set['household/population']=test_set['households']/test_set['population']
test_set = test_set.drop(['population','households','total_bedrooms'], axis=1)

train_set.corr()['median_house_value']

longitude              -0.045035
latitude               -0.147694
housing_median_age      0.112346
total_rooms             0.128022
median_income           0.690042
<1H OCEAN               0.259761
INLAND                 -0.489220
ISLAND                  0.027064
NEAR BAY                0.160812
NEAR OCEAN              0.145699
median_house_value      1.000000
rooms/bedrooms          0.381711
household/population    0.264517
Name: median_house_value, dtype: float64

In [13]:
train_set

,longitude,latitude,housing_median_age,total_rooms,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value,rooms/bedrooms,household/population
9361,0.181275,0.575532,0.686275,0.111476,0.544379,0.0,0.0,0.0,1.0,0.0,470500.0,1.160499,2.371965
19592,0.346614,0.539362,0.568627,0.011521,0.303161,0.0,1.0,0.0,0.0,0.0,142500.0,1.076002,1.838598
10145,0.642430,0.144681,0.627451,0.106287,0.262783,1.0,0.0,0.0,0.0,0.0,201600.0,0.852945,2.388785
4023,0.580677,0.173404,0.882353,0.052902,0.217480,1.0,0.0,0.0,0.0,0.0,216000.0,0.780092,2.203044
16824,0.185259,0.540426,0.588235,0.079022,0.321037,0.0,0.0,0.0,0.0,1.0,263900.0,0.821322,2.464342
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8876,0.583665,0.158511,0.960784,0.066000,0.883002,1.0,0.0,0.0,0.0,0.0,500001.0,1.254590,2.063626
13304,0.669323,0.163830,0.352941,0.088713,0.165363,0.0,1.0,0.0,0.0,0.0,126200.0,0.701428,1.431911
16859,0.192231,0.541489,0.784314,0.002442,0.118971,0.0,0.0,0.0,0.0,1.0,212500.0,0.828098,1.624788
15090,0.740040,0.027660,0.313725,0.033318,0.080599,1.0,0.0,0.0,0.0,0.0,112500.0,0.546315,2.366639
2762,0.831673,0.068085,0.294118,0.006180,0.052689,0.0,1.0,0.0,0.0,0.0,51300.0,0.711185,2.407094

In [14]:
test_set

,longitude,latitude,housing_median_age,total_rooms,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value,rooms/bedrooms,household/population
13850,0.700199,0.208511,0.294118,0.078081,0.165032,0.0,1.0,0.0,0.0,0.0,115600.0,0.823496,2.764044
18990,0.235060,0.630851,0.313725,0.046340,0.287720,0.0,1.0,0.0,0.0,0.0,250000.0,0.860564,1.915850
18836,0.170319,0.976596,0.686275,0.084363,0.094447,0.0,1.0,0.0,0.0,0.0,71200.0,0.819966,2.482467
20271,0.505976,0.172340,0.274510,0.289969,0.266851,0.0,0.0,0.0,0.0,1.0,423300.0,0.877258,2.795966
3161,0.547809,0.285106,0.490196,0.041635,0.087288,0.0,1.0,0.0,0.0,0.0,68000.0,0.764374,1.896401
...,...,...,...,...,...,...,...,...,...,...,...,...,...
823,0.229084,0.538298,0.294118,0.041711,0.165322,0.0,0.0,0.0,1.0,0.0,163900.0,0.779092,2.925288
12879,0.295817,0.648936,0.647059,0.020932,0.185232,0.0,1.0,0.0,0.0,0.0,109500.0,0.784216,2.150229
1063,0.247012,0.764894,0.117647,0.044127,0.234486,0.0,1.0,0.0,0.0,0.0,147000.0,0.983934,2.081942
3015,0.516932,0.255319,0.254902,0.103057,0.178501,0.0,1.0,0.0,0.0,0.0,148200.0,0.844911,2.149109
7739,0.617530,0.147872,0.686275,0.049494,0.259272,1.0,0.0,0.0,0.0,0.0,242400.0,0.938054,2.147583

In [15]:
train_set.to_csv('train.csv', index=False)
test_set.to_csv('test.csv', index=False)